<!doctype html>
<html>
  <%= partial "layouts/head.html" %>
  <body class="<%= page_classes %>">
    <%= partial "layouts/header.html" %>
    <%= yield %>
    <%= partial "layouts/footer.html" %>
  </body>
</html>
